body {
    background-color: black;
}

.score-board {
    background-color: white;
    width: 300px;
    border-radius: 5px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 12px 0;
    padding-left: 12px;
}